/* 
기준
width: 800
height : 1340

헤더: ((100 / 1340) * 100).toFixed(4)
컨텐츠 내: ((100 / (1340 - 100)) * 100).toFixed(4)

*/

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-M';
  src: url('/fonts/Pretendard-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-L';
  src: url('/fonts/Pretendard-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Pretendard', 'sans-serif';
  /* font-family: 'Apple SD Gothic Neo'; */
  /* 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'sans-serif';  */
  line-height: 110%;

  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

:root {
  --device-pixel-ratio: 1;
  --vh: 100%;
  --xs-width: 300px;
  --sm-width: 480px;
  --md-width: 768px;
  --lg-width: 992px;
  /*
  base: '0em',
  xs: '300px',
  sm: '480px', // 30em
  md: '768px', // 48em
  lg: '992px', // 62em
  xl: '1280px', // 80em
  '2xl': '1536px', // 96em
  */
}

html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  /* background: #000; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 6rem; */
}

main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.square {
  width: 100%;
  height: 100%;
  background-color: blue;
  box-sizing: border-box;
  border: 1px solid #b3b3b3; /* optional: for better visual separation */
}

/* lottie svg 사이즈 */
g {
  width: 100%;
  height: 100%;
}
