.leafForm {
  z-index: 3;
  width: 678.36px;
  height: 496px;
  /* width: 84.795%; */
  /* height: 37.014%; */
  /* background-color: red; */
  position: relative;
  margin-top: 247px;
}

/* leaf */
/* 순서
  8  4  3
2          9
     1     5
 6     7  10
*/
.leaf {
  position: absolute;
}
.leaf01 {
  z-index: 3;
  left: 129.4px;
  bottom: 26.59px;
  width: 361.02px;
  height: 273.86px;
}
.leaf02 {
  z-index: 4;
  top: 162.42px;
  left: 0;
  width: 231.79px;
  height: 205.36px;
}
.leaf03 {
  z-index: 4;
  top: 22px;
  right: 116.37px;
  width: 214px;
  height: 183px;
}
.leaf04 {
  z-index: 2;
  top: 0;
  left: 163.31px;
  width: 316.26px;
  height: 275.88px;
}
.leaf05 {
  z-index: 4;
  top: 137px;
  right: 8.37px;
  width: 229px;
  height: 219px;
}
.leaf06 {
  z-index: 5;
  left: 37.99px;
  bottom: 43.01px;
  width: 154px;
  height: 175px;
}
.leaf07 {
  z-index: 2;
  bottom: 0;
  right: 144.34px;
  width: 201.3px;
  height: 140.07px;
}
.leaf08 {
  z-index: 5;
  top: 56px;
  left: 77.99px;
  width: 207px;
  height: 193px;
}
.leaf09 {
  z-index: 5;
  top: 96px;
  right: 115.37px;
  width: 167px;
  height: 187px;
}
.leaf10 {
  z-index: 1;
  bottom: 33.43px;
  right: 0;
  width: 217.37px;
  height: 171.58px;
}

/* apple */
/* 순서
  8  4  3
2 6 1 7 9
  10  5
*/
.apple {
  z-index: 6;
  position: absolute;
  width: 58.22px;
  height: 66px;
}

.apple01 {
  top: 215px;
  left: 259.99px;
}
.apple02 {
  bottom: 163.01px;
  left: 47.99px;
}
.apple03 {
  top: 130px;
  right: 98.15px;
}
.apple04 {
  top: 94px;
  left: 274.99px;
}
.apple05 {
  bottom: 101.01px;
  right: 170.15px;
}
.apple06 {
  top: 212px;
  left: 147.99px;
}
.apple07 {
  top: 212px;
  right: 253.15px;
}
.apple08 {
  top: 116px;
  left: 99.99px;
}
.apple09 {
  bottom: 191.01px;
  right: 153.15px;
}
.apple10 {
  bottom: 62.01px;
  left: 152.99px;
}
